{% extends 'base.html' %} {% block content %}
<div class="container">
	<div class="row justify-content-center mt-5">
		<div class="col-6">
			<div class="card">
				<div class="card-title text-center">
					<h4 class="card-title mt-5">TheraGPT</h4>
					<h6 class="card-subtitle mb-2 text-body-secondary">
						Your AI companion for a balanced and resilient mind.
					</h6>
				</div>

				<div class="card-body">
					<form
						id="thought-form"
						method="POST"
						class="m-3"
					>
						{{ form.csrf_token }}
						<div>
							{% if form.thought.errors %} {% for error in form.thought.errors
							%}
							<span class="text-danger"> {{ error }} </span>
							{% endfor %} {% endif %} {{ form.thought(placeholder="What has been troubling you?", class="form-control", rows="3") }}
						</div>
						<button class="btn btn-outline-success m-3">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div
	id="outer-output"
	class="row justify-content-center m-3"
>
	<div class="col-6">
		<div id="output"></div>
	</div>
</div>

{% endblock %}
