{% extends 'base.html' %} {% block content %}
<div class="container">
	<div class="row justify-content-center mt-5">
		<div class="col-sm-12 col-md-8 col-xl-6">
			<div class="card border-0">
				<div class="card-title text-center">
					<img
						src="/static/images/theragpt1.png"
						class="card-img-top"
						alt="TheraGPT logo" />
					<h4 class="card-title mt-5 animate-gradient-text">TheraGPT</h4>
					<h6 class="card-subtitle mb-2 text-body-secondary">
						Your AI companion for a balanced and resilient mind.
					</h6>
				</div>

				<div class="card-body">
					<form
						id="thought-form"
						class="m-3">
						{{ form.csrf_token }}
						<div>
							{% if form.thought.errors %} {% for error in form.thought.errors
							%}
							<span class="text-danger"> {{ error }} </span>
							{% endfor %} {% endif %} {{ form.thought(placeholder="What has been troubling you?", class="form-control border-gradient
							border-gradient-purple", rows="3") }}
						</div>
						<div class="d-flex justify-content-center m-3 buttons">
							<button
								type="submit"
								class="btn btn-lg btn-hover gradient-btn">
								Submit
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="spinner-container">
				<div
					id="spinner"
					class="text-center"></div>
			</div>

			<div
				id="result"
				class="mt-5"></div>
		</div>
	</div>
</div>

{% endblock %}
